*{
  margin:0;
  padding:0;
}


.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  
}
.single-selection-dropdown{
  margin-top: 20px;
}
.header{
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}
.input-box-container{
  position: relative;
  width: 100%; 
}
.custom-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.search-icon   {
  position: absolute;
  right: 20px; /* Adjust the position as needed */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
}

.sorting-icon{
  position: absolute;
  right: 0px; /* Adjust the position as needed */
  top: 50%;
  
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;

}
.dropdown-list-container {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
}
.dropdown-list-label {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.selected-option {
  background-color: #007bff;
  color: #fff;
}
.dropdown-list-label:hover {
  background-color: #c2e8f3;
}